// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 350px
}
#eventsList{
  margin-top: 10px;
}
.new_event, .edit_event {
  label,input[type='text']{
    display:inline;
  }
}

input#event_description {
  width: 500px;
}
.selected {
  background-color: #C66660;
  color: #f2efe8; 
}
.del_form form{
  margin-bottom: 0px;
}
.del_form div {
  float:left;
}
.del_form input {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background: red;
  color: white;
  line-height:10px;
  margin-bottom: 0px;
  padding: 2px;
}
input[type='hidden'] {
  display:none;
}
